# =========================
# DATA (NEVER COMMIT)
# =========================
data/
*.zip

# =========================
# PYTHON
# =========================
__pycache__/
*.pyc

# Virtual env
venv/
.venv/
env/
.env

# =========================
# IDE
# =========================
.vscode/
.idea/

# =========================
# OS
# =========================
.DS_Store

# =========================
# LOGS
# =========================
*.log